@media (max-width: 1120px) {
    .life_section {
        background-repeat: round;
        height: 200px;
    }
    .head_area {
        background-repeat: round;
        background-attachment: scroll;
        height: auto;
    }
    .head_btn-box {
        margin-bottom: 150px;
    }
}

@media (max-width: 992px) {
    .more-stuff-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax( 1em, 3fr);
    }
    .custom_nav-container {
        flex-direction: row;
    }
    .head_area {
        height: 35vh;
    }
}

@media (max-width: 768px) {
    .slaid2_section .detail_box {
        color: #000;
        max-height: 300px;
        overflow: auto;
    }
    .slid_section .slid_container .container {
        flex-direction: column;
    }
    .slid_section .slid_container {
        width: 90%;
    }
    .slid_section .slid_container .container>div {
        width: 95%;
    }
    .slid_section .detail a {
        margin: 25px auto 35px auto;
    }
    .slid_section .detail a {
        background-color: #00ff00;
        color: #ffffff;
    }
    .slaid2_section .slaid2_container {
        width: 100%;
    }
    .slaid2_section .carousel-indicators {
        justify-content: center;
    }
    .head_area {
        height: 50vh;
    }
}

@media (max-width: 576px) {
    .slaid2_section .img_box {
        display: none;
    }
    .more-stuff-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(300px, 500px)) minmax( 1em, 3fr);
    }
    .head_section h1 {
        font-size: 58px;
    }
    .show_section .container {
        flex-direction: column;
        align-items: center;
    }
    .show_section .img-box.box-1,
    .show_section .img-box.box-3,
    .show_section .img-box.box-2,
    .show_section .img-box.box-4 {
        width: auto;
        margin: 15px 25px;
    }
    .slaid2_section .slaid2_container {
        flex-direction: column;
    }
    .slaid2_section .img_box {
        margin-bottom: 25px;
    }
    .slaid2_section .detail_box {
        flex-direction: column;
        text-align: center;
    }
    .slaid2_section .detail_box h5 {
        flex-direction: row;
    }
    .head_area {
        height: 51vh;
    }
}

@media (max-width: 480px) {
    .head_section h1 {
        font-size: 36px;
    }
}

@media (max-width: 420px) {
    .head_area {
        height: 55vh;
    }
    .more-stuff-grid {
        grid-gap: .5em;
    }
    .from-left {
        grid-column: 2 / 2;
    }
    .from-right {
        grid-column: 2 /2;
    }
}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}